@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --color1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #ffffff;
}

@property --color2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #ffffff;
}

@property --percentage {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --gradient-color-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #dd1940;
}

@property --gradient-color-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #92035f;
}

:root {
    --gradient-color-1: #dd1940;
    --gradient-color-2: #92035f;
    --black: #121212;
    --angle: 0deg;
    --color1: #ffffff;
    --color2: #ffffff;
    --gray: #d0d0c8;
}
